.book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-list-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.book-preview {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-basis: 30%;
}